xml/service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="service" type="serviceType"/>
    <xs:complexType name="portType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="protocol"/>
                <xs:attribute type="xs:nonNegativeInteger" name="port"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="serviceType">
        <xs:sequence>
            <xs:element type="xs:string" name="short"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="portType" name="port"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>