xml/user_rule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1">
    <xs:element name="user" type="userType"/>
    <xs:simpleType name="IPv4AddressOrNetwork">
        <xs:annotation>
            <xs:documentation>IPv4 address or network in dot-decimal notation. Equivalent to
                [0-255].[0-255].[0-255].[0-255].
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="((1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])\.){3}(1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])(/([1-9]|[1-3][0-9]))?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IPv6AddressOrNetwork">
        <xs:annotation>
            <xs:documentation>
                IPv4 address or network, based on RFC 1884.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <!-- Fully specified address -->
            <xs:pattern value="[0-9A-Fa-f]{1,4}(:[0-9A-Fa-f]{1,4}){7}(/([1-9]|[1-9][0-9]|1[0-9][0-9]))?"/>
            <!-- Double colon start -->
            <xs:pattern value=":(:[0-9A-Fa-f]{1,4}){1,7}(/([1-9]|[1-9][0-9]|1[0-9][0-9]))?"/>
            <!-- Double colon middle -->
            <xs:pattern value="([0-9A-Fa-f]{1,4}:){1,6}(:[0-9A-Fa-f]{1,4}){1}(/([1-9]|[1-9][0-9]|1[0-9][0-9]))?"/>
            <xs:pattern value="([0-9A-Fa-f]{1,4}:){1,5}(:[0-9A-Fa-f]{1,4}){1,2}(/([1-9]|[1-9][0-9]|1[0-9][0-9]))?"/>
            <xs:pattern value="([0-9A-Fa-f]{1,4}:){1,4}(:[0-9A-Fa-f]{1,4}){1,3}(/([1-9]|[1-9][0-9]|1[0-9][0-9]))?"/>
            <xs:pattern value="([0-9A-Fa-f]{1,4}:){1,3}(:[0-9A-Fa-f]{1,4}){1,4}(/([1-9]|[1-9][0-9]|1[0-9][0-9]))?"/>
            <xs:pattern value="([0-9A-Fa-f]{1,4}:){1,2}(:[0-9A-Fa-f]{1,4}){1,5}(/([1-9]|[1-9][0-9]|1[0-9][0-9]))?"/>
            <xs:pattern value="([0-9A-Fa-f]{1,4}:){1}(:[0-9A-Fa-f]{1,4}){1,6}(/([1-9]|[1-9][0-9]|1[0-9][0-9]))?"/>
            <!-- Double colon end -->
            <xs:pattern value="([0-9A-Fa-f]{1,4}:){1,7}:(/([1-9]|[1-9][0-9]|1[0-9][0-9]))?"/>
            <!-- Embedded IPv4 addresses -->
            <xs:pattern
                    value="((:(:0{1,4}){0,3}(:(0{1,4}|[fF]{4}))?)|(0{1,4}:(:0{1,4}){0,2}(:(0{1,4}|[fF]{4}))?)|((0{1,4}:){2}(:0{1,4})?(:(0{1,4}|[fF]{4}))?)|((0{1,4}:){3}(:(0{1,4}|[fF]{4}))?)|((0{1,4}:){4}(0{1,4}|[fF]{4})?)):(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])"/>
            <!-- The unspecified address -->
            <xs:pattern value="::"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IPAddressOrNetwork">
        <xs:union memberTypes="IPv4AddressOrNetwork IPv6AddressOrNetwork"/>
    </xs:simpleType>
    <xs:complexType name="sourceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="IPAddressOrNetwork" name="address" use="required"/>
                <xs:attribute type="xs:dateTime" name="expires" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="serviceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="zoneType">
        <xs:sequence>
            <xs:element type="sourceType" name="source" maxOccurs="unbounded"/>
            <xs:element type="serviceType" name="service" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="userType">
        <xs:sequence>
            <xs:element type="zoneType" name="zone" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>